<mat-card class="example-card">
    <img mat-card-image src="assets/img/yo.jpg" alt="Cool Developer">
    <mat-card-content>
        <mat-card-title>Jeancarlos Cartaya</mat-card-title>
        <mat-card-subtitle>Need a Cool Developer ?</mat-card-subtitle>

            <p><mat-icon mat-list-icon>phone</mat-icon><span class="center-info-text">{{phone}}</span></p>
        <p><span>
                <mat-icon mat-list-icon>mail</mat-icon><span class="center-info-text">{{email}} </span>
            </span>


        </p>
    </mat-card-content>
</mat-card>