
.ship-info-card {
    width: 90%;
    margin: 10px;
  }

  .ship-info-card-xs {
    width: 100%;
    margin: 10px;
  }

.ship-card-img {
    max-width: 100%;
}

.ship-card-btn {
    bottom: 15px;
    position: absolute;
    right: 35px;
}

