::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 50px !important;
  padding: 3px!important;
  margin: 3px!important;
 }

.ship-info-card {
    width: 90%;
    margin: 10px;
  }

  .ship-info-card-xs {
    width: 100%;
    margin: 10px;
  }

.ship-card-img {
    max-width: 100%;
}

.ship-card-btn {
    bottom: 15px;
    position: absolute;
    right: 35px;
}

.ship-tabs-box {
  height: 250px;
  width: 375px;
}

.ship-text-desc {
font-size: 10px;
}